@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  touch-action: manipulation;
}

body {
  @apply font-sans;
  @apply bg-gray-1;
}

/* pretendard font */
@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Pretendard-Medium.woff2") format("woff2"),
    url("assets/fonts/Pretendard-Medium.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/Pretendard-SemiBold.woff2") format("woff2"),
    url("assets/fonts/Pretendard-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Pretendard-Bold.woff2") format("woff2"),
    url("assets/fonts/Pretendard-Bold.woff") format("woff");
}
